/* IPOSTAZIONI GENERALI PER TUTTE LE PAGINE */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

strong {
  font-weight: 900;
}

/* WELCOME-PAGE */
#welcome-list {
  padding-left: 1.5em;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 1.5em;
  height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.body-wlcm {
  text-align: left;
  padding: 5em;
}

.body-bnc {
  padding: 0.5em;
}

#feedback-body {
  text-align: center;
  padding: 0 2em;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  display: inline-block;
  text-align: left;
  width: 20%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 10%;
}

.pink {
  color: #d20094;
}

.light-blue {
  color: #00ffff;
}

#wrong {
  text-align: left;
}

#correct {
  text-align: right;
}

.checkbox {
  display: inline-block;
  margin-top: 4em;
  margin-right: 4em;
}

.actions {
  display: inline-block;
}

.lighter {
  box-shadow: 1px 1px 59px -1px rgba(0, 255, 255, 1);
}

button,
svg {
  cursor: pointer;
}

#proceed-btn,
#more-info-btn {
  background-color: #00ffff;
  border: none;
  font-weight: bolder;
  padding: 0.7em 2em;
}

#proceed-btn:hover {
  box-shadow: 1px 1px 59px -1px rgba(0, 255, 255, 1);
}

#more-info-btn:hover {
  box-shadow: 1px 1px 59px -1px rgba(0, 255, 255, 1);
}

/* BENCHMARK-PAGE */
.question {
  text-align: center;
  margin-bottom: 3em;
  font-size: 1.2em;
}

.answers {
  text-align: center;
  list-style-type: none;
}

.tot-question {
  text-align: center;
  font-size: 0.7em;
}

.answers li {
  display: inline-block;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.answers button {
  padding: 1em;
  color: white;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  border: solid white;
  border-bottom: rgba(255, 255, 255, 0.3);
}

.bnc-btn {
  text-align: right;
}

#send-btn,
#prox-btn,
#rate-us-btn {
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px white;
  padding: 0.4em 2em;
  color: white;
  border-radius: 20px;
}

#rate-btn-div {
  text-align: center;
  margin-bottom: 3em;
}

#bnc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#timer {
  text-align: right;
  width: 140px;
  height: 40px;
  margin-top: 2em;
}


/* RESULT-PAGE */
footer {
  margin-top: 3em;
}

#results-title {
  text-align: center;
  margin-bottom: 4em;
}

#results-title h1 {
  margin: 0;
}

/* FEEDBACK-PAGE */
.center-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.div-side,
.div-center {
  text-align: center;
}

#write-input {
  text-align: left;
}

#write-input input {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  outline: none;
}

.star {
  fill: #070b1a;
}

#stars-div {
  margin-bottom: 3em;
  margin-top: 2em;
}

/* .star:hover {
  fill: #00ffff;
} */
