h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: 60px;
}

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

p {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  text-align: left;
  width: 20%;
}

.pink {
  color: #d20094;
}

.light-blue {
  color: #00ffff;
}

#wrong {
  text-align: left;
}

#correct {
  text-align: right;
}
